<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

    <!--*********************************Stylesheets*************************************************-->
    <!--bootstrap formatting CSS for mobiles-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--static stylesheets-->
    <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
    
	<!--********************************Webpage Title*******************************************-->
    <title>Phorest Technical Test</title>
    <!--****************************************************************************************-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<!--javaScript files-->
<script type="text/javascript" src="{{ url_for('static', filename='clientRequestJS.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='pageJS.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='voucherJS.js') }}"></script>
<body>
<!--main container div-->
<div class = 'container-fluid' id = 'pageContainer'>
    <div class = "row" style = "text-align: center">
        <!--div to contain phone and email selector-->
        <div class = 'col-md-4 offset-md-4'>
            <h1>
                Look up some clients and create vouchers for them!
            </h1>
            <br>
            <h4>Select a method to search for clients:</h4>
            <select id = "typeSelect" onchange = chooseInput()>
                <option value="default" selected="selected">Select an option</option>
                <option value="email">Email</option>
                <option value="phone">Phone Number</option>
            </select>
            <br>
            <br>
            <!--div to hold the email input box and search button-->
            <div id = "enterEmail" style = "display: none">
                <input type="email" id="clientSearch" placeholder="Enter email..." autocomplete="off"><br><br>
                <button class='btn btn-primary' type = "submit" onclick="sendReq(document.getElementById
                ('clientSearch').value, 'email')">Search for Client</button>
            </div>
            <!--div to hold the phone # input box and search button-->
            <div id = "enterPhone" style = "display: none">
                <input type="tel" id="phone" name="phone"
                       required autocomplete="off" placeholder="Enter phone #..."><br><br>
                <button class='btn btn-primary' onclick="sendReq(document.getElementById('phone').value, 'phone')" >
                    Search for Client</button>
            </div>
        </div>
    </div>
    <br>
    <!--div to hold the table with client list in it-->
    <div id = "clientList" class = "col-md-4 offset-md-4" style="display: none;">
    </div>
    <!--div that will hold input for voucher balance-->
    <div id = "voucherBalance" class = "col-md-4 offset-md-4" style="display: none;">
    </div>
    <br>
</div>

<!-- Modal -->
<div class="modal fade" id="voucherModal" tabindex="-1" role="dialog" aria-labelledby="myVoucherModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="voucherCreation">Voucher Creation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id = "modalBody" class="modal-body">
      </div>
       <!--div to hold voucher results (successful or failure)-->
    <div id = "voucherResults" class = "col-md-4 offset-md-4" style="display: none;">
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>




<!-- ************************************Bootstrap************************************************* -->

<!--path to cloudflare JS file, needed for Bootstrap-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<!--path to bootstrap JS file-->
<script async defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!-- *********************************************************************************************** -->


</body>

</html>