/* -------------------------- Section for normal HTML/CSS tages -------------------------- */
body{
    font-family: Apercu, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
}

h2{
    color: rgb(225, 225, 225);
    font-size: 20pt;
}
@font-face {
    font-family: Apercu;
    src: url("fonts/apercu_regular_pro.otf") format("opentype");
}
@font-face {
    font-family: Apercu;
    font-weight: bold;
    src: url("fonts/apercu_bold_pro.otf") format("opentype");
}
table{
    border-collapse: collapse;
    table-layout:fixed;
}
body{
    background: whitesmoke;
}
td{
    border: 1px;
    padding: 10px 30px 10px 20px;
    text-align: center;
    cursor: pointer;
}
tr{
    border-bottom: 1pt solid black;
    text-align: center;
    background-color: whitesmoke;
}
tr:hover{
    background-color:lightskyblue;
}
th {
    padding-left: 20px;
    padding-bottom: 20px;
}
